@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow');

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;
  font-weight: lighter;
}

.podcast {

  .title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2rem;
  }
}
