// https://www.sitepoint.com/sass-grids-neat-susy/
$susy: (
  columns: 12,
  gutters: .25,
  container: 960px
);

.container {
  @include container;
}

.main {
}

.podcast {

  .cover-art {
    @include span(3 of 12);
    margin: auto;
  }

  .content {
    @include span(6 of 12 at 4);

    .title {
      // @include span(6 of 9 at 4);
    }

    .description {
      // @include span(6 of 9 at 4);
    }
  }

  .actions {
    @include span(3 of 12 at 10);
  }
}
