<h2>Podcasts</h2>

<%= for podcast <- @podcasts do %>
  <div class="podcast">
    <div class="cover-art"><img src="<%= podcast.image_url %>"></div>
    <div class="title"><%= podcast.title %></div>
    <div class="description"><%= podcast.description %></div>
    <div class="actions">
      <%= link "Show", to: podcast_path(@conn, :show, podcast), class: "btn btn-default btn-xs" %>
    </div>
  </div>
<% end %>
