<h2><%= @podcast.title %></h2>

<div class="podcast">
  <div class="cover-art"><img src="<%= @podcast.image_url %>"></div>
  <div class="title"><%= @podcast.title %></div>
  <div class="description"><%= @podcast.description %></div>
  <div class="actions">
  </div>
</div>
